@import "../../Theme.scss";

.Header {
  display: flex;
  flex-direction: column;
  width: 50%;
  position: fixed;
  @media only screen and (max-width: $max-width-mobile-screen) {
    width: 100%;
  }

  @media only screen and (min-width: $max-width-mobile-screen) {
    min-width: $sidebar-min-width;
    z-index: 3;
  }
  // TODO: add filters
  // &--Filters {
  //   background-color: $background-white;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   padding: 40px 36px;
  //   @media only screen and (max-width: $max-width-mobile-screen) {
  //     justify-content: center;
  //     padding: 16px 21px;
  //   }
  // }

  &--Buttons-Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
  }

  &--Category-Dropdown {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    padding: 12px 24px;
    @media only screen and (max-width: $max-width-mobile-screen) {
      font-size: 14px;
    }
  }

  &--Title {
    background: $primary-red;
    margin: 0;
    color: $font-white;
    font-size: 32px;
    line-height: 44px;
    padding: 29px 36px;
    @media only screen and (max-width: $max-width-mobile-screen) {
      padding: 8px 21px;
      font-size: 20px;
    }
  }
}
