@import "../../Theme.scss";

.Merchant {
  width: calc(100% - 36px - 36px);
  display: flex;
  flex-direction: row;
  background: transparent;

  @media only screen and (min-width: $max-width-mobile-screen) {
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 36px;
  }

  @media only screen and (max-width: $max-width-mobile-screen) {
    flex-direction: row;
    width: 100%;
    padding: 20px 0;
  }

  &--Name {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    @media only screen and (max-width: $max-width-mobile-screen) {
      margin: 0px;
      font-size: 16px;
    }
  }

  &--Details {
    &--Row {
      display: flex;
      justify-content: space-between;
    }

    &--Item {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      margin: 0;
      @media only screen and (max-width: $max-width-mobile-screen) {
        font-size: 14px;
        line-height: 20px;
      }
    }

    &--Link {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: $primary-red;
    }
  }

  &--Text {
    @media only screen and (max-width: $max-width-mobile-screen) {
      width: 100% !important;
    }
  }

  &--Description {
    font-size: 18px;
    line-height: 25px;

    @media only screen and (max-width: $max-width-mobile-screen) {
      font-size: 14px;
      line-height: 20px;
      width: 100%;
      margin: 8px auto;
    }

    a {
      color: $primary-red;
    }
  }

  &--Insider-Tips {
    min-height: 60px;
    display: flex;

    &--Label {
      color: $primary-red;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 25px;

      // If the insider tips text is more than 1 line, then the
      // min-width on the label will ensure there is sufficient spacing
      // between the label and the text.
      // TODO: Confirm what the design of this label should be if there are 2+ lines
      min-width: 80px;

      @media only screen and (max-width: $max-width-mobile-screen) {
        font-size: 14px;
        line-height: 20px;
      }
    }

    &--Text {
      font-size: 18px;
      line-height: 25px;
      @media only screen and (max-width: $max-width-mobile-screen) {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }

  &--Page-Container {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }

  &--Image {
    max-width: 211px;
    margin-top: 70px;
    align-self: self-start;
    border-radius: 15px;
    border: 1px solid rgb(229, 229, 229);

    @media only screen and (max-width: $max-width-mobile-screen) {
      margin: 30px 0 0 20px;
    }
  }
}

.ExpandedMenu {
  padding: 0 36px;

  &--SelectMenu {
    display: flex;
    justify-content: space-around;
    padding: 24px 0 24px 0;
    border-bottom: 1px solid $grey-3;
    &--Tab {
      cursor: pointer;
      font-size: 16px;
      text-transform: uppercase;
    }
  }

  &--Content {
    padding-top: 8px;
    &--Story {
      font-size: 18px;
      line-height: 25px;
      padding-bottom: 24px;

      a {
        color: $primary-red;
      }
    }
  }
}

.BackToResults {
  display: flex;
  padding: 29px 0 0 36px;
  width: 155px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  text-decoration: underline;

  &--Text {
    font-size: 18px;
  }
}
