#app-container {
    display: flex;
    position: relative;
}

#map-container {
    position: fixed;
    width: 50%;
    height: 100%;
    right: 0;
    @media only screen and (max-width: 760px) {
//        grid-column: 1 / 1;
//        grid-row: 1 / 1;
        width: 100%;
        height: 300px;
        top: 101.3px;
      }
}

