@import "../../Theme.scss";

.Map-Container {
  position: fixed;
  z-index: 3;
  width: 50%;
  height: 100%;
  right: 0;
  @media only screen and (max-width: $max-width-mobile-screen) {
    position: fixed;
    width: 100%;

    // the bottom of the map should be at the screen's halfway point
    // 60px = header height; 64px = bottom nav bar height
    height: calc(100vh - 60px - 64px);
    margin-top: 60px;
  }
}
