@import "../../Theme.scss";

.Map-Container {
  position: fixed;
  width: 50%;
  height: 100%;
  right: 0;
  @media only screen and (max-width: $max-width-mobile-screen) {
    position: fixed;
    width: 100%;

    // the bottom of the map should be at the screen's halfway point
    // TODO: Change 60px and 75px to variables.
    // They are height of the header + filters (including padding), respectively
    height: calc(50vh - 60px - 75px);
    margin-top: calc(60px + 75px);
  }
}
