@import "../../Theme.scss";

.Merchant {
  &--Container {
    z-index: 3;
    display: flex;
    position: relative;
    flex-direction: column;

    @media (min-width: $max-width-mobile-screen) {
      margin-top: 102px; // height of the header
      width: 50%;
    }
    @media only screen and (max-width: $max-width-mobile-screen) {
      height: calc(
        $merchant-container-mobile-height + $nav-footer-height + $nav-footer-border-width
      );
      width: 100%;
      position: fixed;
      bottom: 0;
    }

    &--Expanded {
        // Merchant card styles for expadned mobile view
        .Merchant {
          @media only screen and (max-width: $max-width-mobile-screen) {
            flex-direction: column-reverse;
          }

          .Merchant--Image {
            @media only screen and (max-width: $max-width-mobile-screen) {
              margin: 0 auto;
              max-width: none;
              height: 150px;
            }
          }
        }

      @media only screen and (max-width: $max-width-mobile-screen) {
        z-index: 3;
        position: fixed;
        bottom: 0;
      }
    }
  }

  &--List {
    @media only screen and (max-width: $max-width-mobile-screen) {
      padding: 0;
    }
  }

  &--Carousel {
    padding: 0 20px;
    width: calc(100vw - 40px);
    border-radius: 20px 20px 0 0;
    background: $background-cream;
    overflow-y: scroll;
    min-height: calc(
      $merchant-container-height - $nav-footer-height - $nav-footer-border-width
    );

    @media only screen and (max-width: $max-width-mobile-screen) {
      min-height: calc(
        100px + $nav-footer-height + $nav-footer-border-width
      );
    }

    &--Expander--Button {
      display: flex;
      height: 10px;
      width: 20px;
      justify-content: center;
      margin: 0 auto;
      cursor: pointer;
    }

    &--Count {
      text-align: right;
      font-size: 12px;
      padding-top: 21px;
    }
  }
}
